<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94d491">  <td>19/06/28 00:45:45</td>   <td>0</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.leaf.pageObject.design.TC001_Create_Lead@5ec0a365]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>19/06/28 00:45:47</td>   <td>1680</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_Create_Lead.setData()[pri:0, instance:com.leaf.pageObject.design.TC001_Create_Lead@5ec0a365]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>19/06/28 00:45:47</td>   <td>1719</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.leaf.pageObject.design.TC001_Create_Lead@5ec0a365]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>19/06/28 00:45:53</td>   <td>7374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.leaf.pageObject.design.TC001_Create_Lead@5ec0a365]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>19/06/28 00:46:17</td>   <td>31867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Create_Lead.login(java.lang.String, java.lang.String)[pri:0, instance:com.leaf.pageObject.design.TC001_Create_Lead@5ec0a365]">login</td> 
  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>19/06/28 00:46:30</td>   <td>44608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.leaf.pageObject.design.TC001_Create_Lead@5ec0a365]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>19/06/28 00:46:32</td>   <td>46723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.leaf.pageObject.design.TC001_Create_Lead@5ec0a365]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>19/06/28 00:46:37</td>   <td>52047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Create_Lead.login(java.lang.String, java.lang.String)[pri:0, instance:com.leaf.pageObject.design.TC001_Create_Lead@5ec0a365]">login</td> 
  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>19/06/28 00:46:44</td>   <td>59072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.leaf.pageObject.design.TC001_Create_Lead@5ec0a365]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>19/06/28 00:46:47</td>   <td>61400</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.leaf.pageObject.design.TC001_Create_Lead@5ec0a365]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
</table>
